</body>
<script src="{{ asset('resources/jq/jquery.min.js') }}"></script>
{#<script src="{{ asset('resources/bootstrap/bootstrap-popper.min.js') }}"></script>#}
<script src="{{ asset('resources/bootstrap/bootstrap.min.js') }}"></script>
<script src="{{ asset('resources/js/build.js') }}"></script>
</html>
