<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="svg__container">
        <svg class="navbar__svg navbar__svg-black" role="img">
            <use xlink:href="{{ asset("/resources/img/svg/sprite.svg#car") }}"></use>
        </svg>
    </div>
    <ul class="navbar-nav">
        <li class="nav-item">
            <span class="nav-item_span">Auto Market</span>
        </li>
    </ul>
</nav>